body{
	background-color: #000;
}
.site-header{
display: block;
width: 100%;
max-width: 1200px;
background-color: #eee;
margin:0 auto;
font-size: 0;
}
.logo{
padding-top: 48px;
padding-left:2%;
width:68%;
display: inline-block;

}
.site-navigation{
font-size: 18px;
padding-top: 64px;
width: 30%;
}
ul{
font-size: 0;
}
li{
list-style-type: none;
color: #303030;
font-family: Roboto,sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 27px;
padding-right:40px;
color:#303030;
float:left;
}
.menu-icon{
padding-top: 3px;
color: #303030;
float:left;
}
.site-navigation{
float:right;
}
a{
color: #303030;
text-decoration: none;
}
a:hover,i:hover{
color:  #e10011;
}
.site-main{
width:100%;
max-width: 1200px;
margin: 0 auto;
height: 632.2px;
background-color: #eee;
font-size: 0;
clear:both;
}
.black{
color: #303030;
font-family: Raleway,sans-serif;
font-size: 120px;
font-weight: 900;
line-height: 150px;
text-transform: uppercase;
padding-top: 124px;
text-align: right;
}
.lorem{
overflow: hidden;
height: 95px;
color: #303030;
font-family: Roboto,sans-serif;
font-size: 22px;
font-weight: 300;
line-height: 36px;
padding-top: 53px;
text-align: right;
}
.view{
color: #e10011;
font-family: Roboto,sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 36px;
padding-top: 25px;
text-align: right;
}
.foto img{
width: 582px;
background-color: #eee;
}
.text{
width: 50%;
background-color: #eee;
float:left;
}
.foto{
width: 50%;
background-color: #eee;
float:right;
}
.site-footer{
width: 100%;
max-width: 1200px;
height: 60px;
margin: 0 auto;
background-color:#eee;
padding-top: 10px;
margin: 0 auto;
clear:both;
}
.foot{
list-style-type: none;
width: 11px;
height: 11px;
border-radius: 50%;
background-color:#303030;
padding: 5px;
margin-right: 10px;
float: left;
}
.ball{
margin-left:550px;
height: 70px;
}
.foot:hover{
background-color: #e10011;
}